.app-footer {
  background-color: $clr10;
  color: $clr3;
  height: 55px;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  .footer-container {
    display: inline-flex;
    max-width: 1400px;

    .title {
      display: flex;
      flex-grow: 1;
      font-family: Macan-Bold;
    }

    .copy-rights {
      font-size: 0.875rem;
      margin-left: 30px;
      align-self: center;
      color: $clr13;
      flex-grow: 1;
      font-family: Macan-Regular;
      line-height: 3.5em;
    }

    .logo-footer {
      font-family: Macan-bold;
      height: 23px;
      width: 77px;
      margin-top: 20px;
    }

    .social-links {
      display: flex;
      justify-content: space-between;
      min-width: 450px;
    }
  }

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid $clr14;
    padding: 0;
    margin: 0;

    &.full {
      // margin-top: 54px;
      margin-bottom: 64px;
    }
  }

  .bottom-nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    h4 {
      color: $clr11;
      margin-bottom: 20px;
    }
    p {
      font-size: em(16px);
      margin-top: 10px;
    }
    small {
      color: $clr13;
      font-size: em(14px);
    }
  }
}
