.app-header {
  background-color: $clr-1;

  // padding: 10px;

  .user-info {
    // background-color: $clr2;
    // padding: 2px 8px;
    padding-left: 100px;
    color: $clr1;

    .score {
      background-color: $clr2;
      color: $clr6;
      padding: 8px;
      margin: 10px;
      border-radius: 50%;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-info .btn-link {
    color: $clr2;
  }

  nav {
    // font-size: .8em;
    background-color: $clr-1;
    // padding: 5px;
    // flex-wrap: wrap;
    max-width: 1400px;
    height: 80px;
  }

  nav a:first-child {
    margin-right: 30px;
  }

  nav a:not(:first-child) {
    border-top: 1px solid $clr1;
    padding: 0 5px;
    margin: 10px;
  }

  nav .active {
    color: $clr1;
  }

  .search-box {
    width: em(755px);
    height: em(42px);
    color: $clr4;
    line-height: 24;
    padding: em(10px) em(2px) em(10px) em(16px);
    font-size: em(16px);
    border: solid 1px $clr12;
    border-radius: 4px 0px 0px 4px;
    box-shadow: none;
    font-family: Macan-Light;
    margin: em(20px) 0;

    &:focus {
      outline: none;
      border: solid 1px $clr11;
    }
    &::placeholder {
      color: $clr3;
      line-height: 24;
      font-weight: 400;
      letter-spacing: normal;
    }
  }

  .header-logo {
    // width: em(89px, 24px);
    line-height: 24px;
    height: em(89px, 27px);
    // display: inline-block;
    display: flex;
    margin: em(55px, 34px) em(32px, 24px) em(32px, 24px) 0;
    margin-right: em(32px);
  }

  .search-icon-box {
    display: inline-block;
    background-color: $clr11;
    width: em(50px);
    height: em(42px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: em(20px) 0;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    margin-right: 32px;
    &:hover {
      background-color: rgba(34, 35, 37, 0.834);
    }
  }

  .search-icon {
    color: $clr-1;
    font-size: em(24px);
  }
  hr {
    width: 100%;
    border: none;
    border-top: 1px solid $clr14;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }

  span {
    color: $clr3;
  }

  li {
    min-width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Macan-Bold;
    justify-content: flex-end;
  }
}
