.hero-container {
  min-height: 680px;
  position: relative;
  z-index: -1;

  .img-container {
    img {
      position: absolute;
    }
  }

  .hero-info {
    align-self: center;
    justify-content: end;
    position: relative;
    top: 15px;

    p {
      position: absolute;
      color: white;

      div {
        position: absolute;
        bottom: 25px;
        left: -5px;
      }

      span {
        color: white;
        margin-left: 5px;
        font-family: Macan;
      }
    }
  }
}
