.hero-container {
  min-height: 680px;
  position: relative;
  z-index: -1;
  // background-color: black;
  .img-container1 {
    background-image: url("../../img/hero/hero1.webp");
    width: 100%;
    transition: 1s;
  }
  .img-container2 {
    background-image: url("../../img/hero/hero2.webp");
    width: 100%;
    transition: 1s;
  }
  .img-container3 {
    background-image: url("../../img/hero/hero3.webp");
    width: 100%;
    transition: 1s;
  }
  .img-container4 {
    background-image: url("../../img/hero/hero4.webp");
    width: 100%;
    transition: 1s;
  }
  .img-container5 {
    background-image: url("../../img/hero/hero5.webp");
    width: 100%;
    transition: 1s;
  }

  .hero-info {
    align-self: center;
    justify-content: end;
    position: relative;
    top: 15px;

    p {
      position: absolute;
      color: white;

      div {
        position: absolute;
        bottom: 25px;
        left: -5px;
      }

      span {
        color: white;
        margin-left: 5px;
        font-family: Macan-Regular;
      }
    }
  }
}
