.details-nav {
    list-style-type: none;

    // padding: 4px;
    z-index: 5;
    position: sticky;
    background-color: white;
    // position: sticky;
    // top: 10px;
    // flex-shrink: 0;

    a {
        text-decoration: none;
    }
}

.left-container {
    padding: 10px 0 10px 0;

}

.details-actions {
    background-color: $clr-1;
    margin-bottom: 3px;
}

.right-container div {
    border: 1px solid $clr5;
    padding: 6px 10px 6px 10px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;

}

.details-svg-clr {
    fill: $clr5;
}

.details-svg-clr-green {
    fill: $clr2;
}

.liked-gig-red {
    fill: $clr18;
    // color: pink;
    // stroke: $clr1;
    // stroke-width: 1px;
}

.right-container {
    gap: 24px;
    align-self: center;
}

.top-nav-details-item {
    font-size: em(14px);
    color: $clr15;
    font-weight: 700;
    margin-right: 24px;

    &:hover {
        color: $clr4;
    }
}

.top-nav-details-selected {
    color: $clr4;
    border-bottom: 2px solid $clr2;
}