.gig-orders-list{

  justify-content: start;

}

.order-title-section{
  color: $clr1;
  font-weight: 700;
  
}

.order-title-section, .order-subtitle-section{
  line-height: 24px;
}
.order-subtitle-section{
  color: $clr15;
  padding: 12px 0 0 ;
 
}
.my-orders-container{
  padding-top:24px;
}

@media only screen and (min-width: 600px){
.main-order-list-container {
    padding: 48px 64px 80px;
}
}

@media only screen and (max-width: 600px){
  .main-order-list-container {
      padding: 25px 5px;
  }
  }