.gig-list {
    list-style: none;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    padding: 0;
    // margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 324px);
        // grid-template-columns: repeat(4,1fr);
        // padding: 60px;
        justify-content: center;
        gap:34px;

    a {
        text-decoration: none;
    }

}
        
    
        
    





