// .pending-status {
//     color: orange;
// }

// .in-progress-status {
//     color: green;
// }

// .done-status {
//     color: black;
// }

// .rejected-status{
//     color: red;
// }


.status-blue {
    color: $clr7;
}

.status-green {
    color: $clr2;
}

.status-yellow {
    color: $clr6;
}

.status-pink {
    color: $clr23;
}

.status-lightblue {
    color: $clr22;
}