.popular-services {
  position: relative;
  .cards-container {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 0;
    justify-content: center;
  }

  .slick-next:before {
    border-radius: 33px;
    background-color: white;
    font-size: 28px;
    color: $clr13;
    padding: 12px;
    opacity: 100%;
  }

  .slick-prev:before {
    border-radius: 33px;
    background-color: white;
    font-size: 28px;
    color: $clr13;
    padding: 12px;
    opacity: 100%;
  }

  .slick-prev {
    transform: translate(0, -102%);
    z-index: 50;
    height: 24px;
    width: 62px;
    opacity: 100%;
  }

  .slick-next {
    height: 24px;
    width: 66px;
    transform: translate(0, -90%);
    opacity: 100%;
  }
  .img-card {
    color: white;
    position: relative;
    height: rem(345px);
    width: rem(288px);

    .pop-service-text {
      position: absolute;
      top: 8px;
      left: 25px;
      font-size: 0.875rem;

      h3 {
        margin: 0;
        line-height: 0.5;
        font-size: 1.5rem;
        font-family: Macan-Bold;
      }
    }

    img {
      padding: 10px;
      max-height: 100%;
      border-radius: 5px;

      &:hover {
        transition: 0.8s;
        opacity: 80%;
        cursor: pointer;
      }
    }
  }
}
