.main-popup-container {
  z-index: 400;
  background-color: $clr-1;
}
.popup-gig-container{
  cursor: pointer;
}
.popup-gig-title {
  font-size: 16px;
  font-weight: 800;
  color: $clr1;
  width: 14vw;
}

#order-img-list {
  align-self: center;
  min-height: em(100px);
  min-width: em(180px);
}

.main-popup-container
 {
  border: 2px solid black;
  // line-height: 24px;
}


.order-gig-byseller,
.popup-gig-img,
.order-gig-status,.popup-gig-title {
  margin: 10px 14px 10px 0;
}

.order-gig-byseller,.order-gig-status{
  font-size: em(12px);
  color:$clr4;
}

.popup-gig-container{
  .pop-up-hr{
    visibility: visible;
    width: 100%;
    border: none;
    border-top: 2px solid $clr14;
    padding: 0;
    margin: 0;
  }
}

.more-list-btn{
  width:15vh;
  border-radius: 5px;
  align-self: center;
}