.popup-menu {
  position: fixed;
  // position: absolute;
    margin: auto;
    overflow-y: scroll;
    background-color: white;
    border: #efeff0 solid 1px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    right: 10%;
    top: 53px;
    // right: 50%;
    // bottom: -10px;
    // transform: translate(50%, 100%);

}

::-webkit-scrollbar {
    width: 0.0em;
    background-color: transparent;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
