.popular-services {
  margin-top: rem(50px);
  position: relative;
  .cards-container {
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 29px;

    padding: 0;
    justify-content: center;
  }
  .slick-prev:before,
  .slick-next:before {
    content: "";
    color: transparent;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: transparent;
    position: absolute;
    z-index: -400;
    // opacity: 1;
    // top: -79%;
    border: 1px solid;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    left: -16px;
    bottom: -22px;
    // right: -10%;
    /* bottom: 39px; */
    // left: -80%;
  }
  .slick-prev:before {
    left: -20px;
    bottom: -20px;
  }
  // .slick-prev:before {
  //   border-radius: 33px;
  //   background-color: white;
  //   font-size: 28px;
  //   color: $clr13;
  //   padding: 12px;
  //   opacity: 100%;
  // }

  .slick-prev {
    z-index: 1;
    border: solid #62646a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    // z-index: 500;
    height: 12px;
    width: 12px;
    -webkit-transform: rotate(135deg);
    // margin: 0 5px;
  }

  .slick-next {
    z-index: 1;
    border: solid #62646a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    height: 12px;
    right: 20px;
    width: 12px;
    -webkit-transform: rotate(-45deg);
  }

  .img-card {
    color: white;
    position: relative;
    height: rem(400px);
    width: rem(300px);

    .pop-service-text {
      position: absolute;
      top: 8px;
      left: 20px;
      font-size: 0.875rem;

      p {
        margin-bottom: 13px;
      }

      h3 {
        margin: 0;
        line-height: 0.5;
        font-size: 1.5rem;
        font-family: Macan-Bold;
      }
    }

    img {
      // padding: 10px;
      // margin-left: 30px;
      max-width: 100%;
      max-height: 84%;
      position: absolute;
      // max-width: 80%;
      border-radius: 5px;
      &:hover {
        transition: 0.8s;
        opacity: 80%;
        cursor: pointer;
      }
    }
  }
}
