.review-date{
    font-size: em(14px);
    color: $clr15;
    // align-self:start;
  
}

.reviewer{
    // display: flex;
    align-items: center;
    // padding: 20px 0;
    // border-bottom: 1px solid $clr15;
    &:last-child{
        border-bottom: none;
    }
}

.review-msg{
  justify-content: start;
  line-height: 1.5;
}

.carousel .slide{
    text-align: start;
}
.reviewer-img{
    img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 16px;
    }
}

.seller-overview{
    line-height: 24px;
}
.reviewer-name{
    align-self: center;
    font-weight: 700;
    // color: $clr4;
}

.reviewer-location{
    font-size: em(14px);
    color: $clr4;
}

.reviewer-rate{
    svg{
        width: 20px;
        color:$clr6;
    }
}