.gig-details-page {
  padding: 22px 19px 0;
  color: $clr1;
  margin: 0 50.5px;
}
.overview-nav {
  background-color: white;
}
.inner-review {
  flex-direction: column;
  padding-right: 60px;
}
.gig-carousel-card {
  //   zoom: 200%;
  height: 420px;
  // width: 700px;
  max-width: 710px;
  // width: 100%;
  padding: 0 20px 0 0;
  cursor: pointer;
  margin: 20px;
  margin-left: 0;
  margin-bottom: 0;

  img {
    // zoom: 200;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    // height: 200px;
  }

  //   display: none;
}

.gig-carousel-img {
  zoom: 200;
}

.thumb {
  opacity: 50%;
  cursor: pointer;
}
.thumbs {
  padding: 0;
  margin-left: 0;
  margin-top: 0;
}

.carousel .thumbs-wrapper {
  padding: 0;
  margin-left: 0;
  margin-top: 18px;
  margin-bottom: 44px;
}

.arrow-svg {
  fill: $clr4;
}

.hr-top-details hr {
  // width: 100%;
  border: none;
  background-color: white;
  border-top: 1px solid $clr13;
  opacity: 80%;
  // padding: 0;
  // margin: 0;
}
.responsive-wrapper {
  // margin: 31px 0 31px 0;
  border: 1px solid $clr14;
  line-height: 2;
  padding: 24px;

  svg {
    margin-top: 5px;
  }
}
.payment-area,
.contact-seller {
  padding: 0 24px;
  font-size: rem(16px);
  display: block;
  // border-top: 0;
  // border: 1px solid $clr14;

  justify-content: center;
  // margin-top: 50px;
  // margin-bottom: 20px;
  // padding: em(32px, 16px) em(24px, 16px);
  // border: 1px solid $clr14;
  margin-block-end: 16px;
  // border-bottom: none;
  // display: contents;

  .price-basic-container {
    align-self: center;
    color: $clr1;
  }

  .price-wrapper {
    h4 {
      display: flex;
      color: $clr1;
    }
  }
}
.react-tabs__tab-list {
  position: static;
  display: flex;
  justify-content: center;
}

.contact-seller {
  border: none;
  margin-block-end: 16px;
}
.react-tabs__tab {
  // bottom: 0;
  display: flex;
  background-color: $clr17;
  padding: 0;
  // position: absolute;
  position: static;
  padding: 22px;
  border: 1px solid $clr14;
  border-bottom: none;
  // border-left: none;
  justify-content: center;
  width: 315px;
}

.payment-area-wrapper {
  margin-top: 0;
  position: sticky;
  top: 50px;
  padding-top: 25px;
  flex-shrink: 0;
  // border: 1px solid $clr13;dv
  // border-top:none;
  color: $clr3;
  font-family: Macan-Bold;
}

.contact-seller-btn {
  margin-top: 14px;
  margin-bottom: 14px;
}

.payment {
  // margin-top: 50px;
}

.gig-main-payment {
  max-width: 414px;
  //  border: 1px solid $clr15;

  .react-tabs__tab--selected {
    // border: none;
    // border: 1px solid $clr2;
    border-bottom: 1px solid $clr2;
    border-radius: none;
    background: #fff;
    // border-color: #aaa;
    // color: black;
    // border-radius: 5px 5px 0 0;
    /* background: #fff; */
    // border-color: #aaa;
    // border-right: 1px;
    color: $clr2;
    border-bottom: 3px solid $clr2;

    /* border-radius: 5px 5px 0 0; */
    // border-top: none;
    // &:blur {
    //   // outline: none;
    //   border-bottom: 1px solid $clr2;
    // }
  }

  .react-tabs__tab-list {
    position: static;
    display: flex;
    justify-content: space-around;
    border: 1px solid $clr14;

    // background-color: aqua;
  }
}

.tabs-payment {
  border: 1px solid $clr14;
  margin-bottom: 10px;
  // margin: 20px;
}

.gig-details {
  width: 60%;
  margin-right: 95px;
}

.gig-details-breadcrumbs {
  color: $clr7;
  font-size: em(14px);
  padding-bottom: 10px;
  line-height: 30px;

  a {
    text-decoration: none;
    color: $clr7;
  }
}

.gig-title,
.seller-name {
  color: $clr1;
}

.gig-title {
  font-size: em(28px);
  font-weight: 900;
  padding: 0 0 16px;
  line-height: 24px;
}

.seller-overview {
  background-color: white;
  font-size: em(14px);
  padding-top: 6px;
  // padding-bottom: 24px;
  gap: 10px;

  a {
    text-decoration: none;
  }
}

.seller-name {
  // font-size: em(14px);
  font-weight: 800;
  font-family: Macan-Bold;
  margin: 0 8px 8px 0;
  align-self: center;
}

.seller-rate {
  color: $clr6;
}

.reviews-container {
  border-top: 1px solid $clr14;
}

.main-reviews-header {
  margin-top: 30px;
  line-height: 24px;
  font-size: em(20px);
  font-weight: 700;
}

.review-main-details {
  border: none;
}

.review-msg {
  color: $clr4;
}

.seller-rev-head,
.about-the-seller {
  font-size: em(20px);
  //   padding: 0 0 25px;
  line-height: 24px;
  font-family: Macan-Bold;
  //   font-weight: 800px;
}

.head-mini-reviews {
  line-height: 24px;
}

.mini-review-btn {
  font-size: em(14px);
  color: $clr2;
}

.section-title {
  font-size: em(20px);
  margin-top: 30px;
  padding-bottom: 13px;
}

.description-content {
  font-size: em(16px);
  line-height: 1.5;
}

.about-the-seller {
  padding-top: 30px;
}

.about-user-name {
  font-size: em(16px);
  font-family: Macan-Bold;
  color: $clr4;
}

.about-user-name,
.about-seller-rate {
  padding-bottom: 5px;
}

.about-user-info {
  padding-left: 15px;
}

.profile-img-container {
  height: 110px;
  width: 110px;

  .profile-img {
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.contact-me-btn {
  padding: 12px 22px;
  margin-top: 36px;
  font-size: em(14px);
  border: 1px solid $clr1;
  width: 130px;

  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: $clr1;
    color: white;
  }
}

.control-dots {
  display: none;
}

.gig-gallery {
  // padding-left: 32px;
  width: 100%;
  //   padding-right: 70px;
}

.review-preview {
  border-radius: 5px;
  padding: 25px;
  padding-top: 16px;
  padding-bottom: 16px;

  border: 1px solid $clr14;
}

.lightning {
  margin-right: 13px;
}

.responsive-header,
.responsive-text {
  line-height: 1.3;
  font-size: em(14px);
  font-family: Macan-Regular;
}

.responsive-header {
  font-family: Macan-Bold;
  color: $clr1;
}

.price-basic-container {
  font-size: em(16px);
  line-height: 1.5;
  // font-weight: 600px;
  // justify-content: end;
}

.price {
  font-size: em(20px);
}

.revisions-wrapper {
  margin-left: 16px;
}

.additional-info {
  font-size: 1em;
  // font-weight: 700;
  flex-direction: column;
  font-family: Macan-Regular;
  border-radius: 3px;
}

.features li {
  list-style-type: none;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: rem(14px);
  color: var(--yro5248);
  line-height: em(24px, 14px);
}

.features {
  font-size: em(14px);
  color: $clr15;

  // padding: 15px 15px 15px 0px;
}

.additional-info-wrapper {
  margin-bottom: em(14px);
}

.features-desc {
  padding-bottom: 8px;
}

.feature-icon {
  margin-right: 3px;
  color: $clr2;
}

.continue-btn {
  background-color: $clr2;
  font-size: em(16px);
  font-weight: 600;
  padding: 12px;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 5px;

  // width: 364px;
  // margin-bottom: 53px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: $clr16;
  color: white;
}

.contact-seller-wrapper {
  padding: 10px 0px;
}

.contact-seller-btn {
  padding: 12px;

  border-radius: 4px;
  // width: 364px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid $clr1;
}

.contact-seller-btn:hover {
  background-color: $clr1;
  color: white;
}

.reviews-carusel,
.gig-gallery {
  & .carousel-status {
    display: none;
  }

  & .continue-arrow {
    color: white;
  }

  & .carousel .carousel-slider {
    position: relative;
  }
}

.gig-gallery {
  & .control-next {
    transform: translate(-90%, -50%);
  }

  & .control-prev {
    transform: translate(90%, -50%);
  }
}

.reviews-carusel {
  & .control-next {
    transform: translate(0%, -50%);
  }

  & .control-prev {
    transform: translate(-50%, -50%);
  }
}

.reviews-carusel,
.gig-gallery {
  & .carousel.carousel-slider .control-arrow {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: rgb(255, 255, 255);
    position: absolute;
    opacity: 1;
    top: 50%;
    border: 1px solid;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  }

  & .control-arrow {
    color: $clr1;
    display: block;
  }

  & .carousel {
    position: obsolute;
    z-index: 0;
  }

  .carousel .control-next.control-arrow:before {
    content: "";
    border: solid $clr1;
    border-width: 0 2px 2px 0;
    display: block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .carousel .control-prev.control-arrow:before {
    content: "";
    border: solid $clr1;
    border-width: 0 2px 2px 0;
    display: block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.continue-word {
  color: white;
}

.reviewer-rate {
  color: $clr6;
}

.reviewer-item {
  padding-bottom: 3px;
  margin-right: 5px;
}

.reviews-container {
  padding: 40px 0;
}

.reviews-container-cr {
  padding: 20px;
  padding-left: 0;
}

.gig-gallery .carousel.carousel-slider .control-arrow {
  background-color: rgb(255, 255, 255);
  width: 48px;
  height: 48px;
  right: -36px;
}

.gig-gallery .carousel .control-next.control-arrow:before {
  content: "";
  //   border: 4px solid #404145;
  border-width: 0 2px 2px 0;
  display: block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 3px;
  height: 3px;
}
.thumb.selected {
  opacity: 90%;
}

.gig-gallery .carousel .control-prev.control-arrow:before {
  content: "";
  //   border: 4px solid #404145;
  border-width: 0 2px 2px 0;
  display: block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  width: 3px;
  height: 3px;
  // left: -45px;
  margin-left: 10px;
}

.react-tabs__tab-panel .react-tabs__tab-panel--selected {
  border: none;
  border-radius: none;
  background-color: white;
}

.about-seller-details{
  line-height: 24px;
}
