.user-details {
    // display: grid;
    // grid-template-columns: 400px 736px;
    background-color: $clr17;
    // grid-template-rows: 100px 100px 200px 100px;
    // .user-img {
    //     height: 200px;
    //     width: 200px;
    //     background-size: contain;
    // }

    .user-main-details {
        background-color: $clr-1;
        width: em(400px);
        height: em(420px);
        border: solid 1px $clr14;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px;

        .profile-img-container {
            height: 150px;
            width: 150px;
            .profile-img {
                border-radius: 50%;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        hr {
            width: 100%;
            border: none;
            border-top: 1px solid $clr14;
            padding: 0;
            margin: 0;
        }
    }

    .orders-list {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        
        li {
            display: flex;
            align-items: center;
            box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
            background-color: $clr-1;
            height: 2.8571em;
            /* width: 80vw; */
            padding-left: 20px;

            /* border-start-start-radius: 16px; */
        }

        li:hover {
            /* background-color: rgb(41, 32, 217);  */
            box-shadow: inset 0px 0px 3px 0px rgb(85 85 85 / 53%);
        }

        .link-list:first-child li {
            border-start-end-radius: 16px;
            border-start-start-radius: 16px;
        }
        .link-list:last-child li {
            border-end-start-radius: 16px;
            border-end-end-radius: 16px;
        }


        .subject-list {
            font-weight: bold;
        }

        .subject-list.selected {
            font-weight: normal;
        }

        .orders-list li.selected {
            background-color: var(--clr2bg);
        }
    }
}
