// Colors
//main background color
$clr-1: #ffffff;

//main font color
$clr1: #404145;

//main green
/* (used for: logo-dot,btns, hovers,add to cart) */
$clr2: #1dbf73;

//main header color
$clr3: #74767e;

//sub header color
/* used in "suggested" */
$clr4: #62646a;

/* used in main header */
$clr5: #62646a;
/* used for stars and top rated seller font color */

//used in starred elements
$clr6: #ffbe5b;
/* used in product page */

//used in urls
$clr7: #446ee7;

//used in new-btn
$clr8: #ff62ad;

//  bg-color
$clr10: white;

$clr11: #222325;

//search
$clr12: #c5c6c9;

$clr13: #b5b6ba;
//border and hr color
$clr14: #efeff0;

// light gray-font
$clr15: #95979d;

$clr16: darkgreen;

//background color
$clr17: #fafafa;

$clr18: #f74040;

//hr color
$clr19: #f4f4f4;

// P text
$clr20: #1e1692;
//add gig text color
$clr21: #7a7d85;

//old colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 1160px;
$normal-breakpoint: 1400px;

// Old Break points
// 1- 720
// 2 - 460
